/* design css for form*/
fieldset{
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    display:flex;
    align-items: center;
}
legend{
    background-color: #e4e2e2;
    border-radius: 5px;
}
.color-option{
    border: 2px solid #949494;
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
    padding:5px;
    border-radius: 10px;
    align-items: center;
    /*how to fix without margin*/
    margin: 0px 10px;
}
#difficulty{
    border-radius: 20px;
}

/* The slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input{
    border-radius: 10px;
    padding:8px;
}
.form-border{
    padding: 10px;
    border: 2px dotted red;
    display: flex;
}
#cheat-request{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:5px;
}


