html, body {
    height: 100%;
}

#main_container{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
#title-purpose{
    background-color: #ffff43;
    color: black;
}

#titleDescription{
    background-color: #f4deb6;
    color: black;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding:2px;
    font-weight: bold;
}

header{
    display:flex;
    flex-direction:column;
    align-items: center;

}

header, footer{
    flex: 1;
    background-color: #0b3f46;
    color: white;
    display:flex;
    justify-content: space-evenly;
    padding:10px;
}

#main-section{
    background-color: #c1e4c1;
    display: flex;
    flex-direction: column;
    flex: 15;
    padding: 10px;
}

#nav-section{
    border: 1px dotted red;
    border-radius: 10px;
    background-color: #e1f3e4;
    flex:1.5;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    /*how to do without margin*/
    margin: 0px 0px 10px 0px;
}

#content-section{
    border: 1px solid red;
    border-radius: 10px;
    padding:10px 20px;
    display: flex;
    flex: 9;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #d3d3d3;
}

#color-game{
    background-color: #d0e2d3;
    display:flex;
    flex: 3;
    justify-content: center;
    flex-direction: column;
    min-width: 50%;
    min-height: 20%;
    border-radius: 20px;
    padding: 10px;
}

#submit-guess-description, #actualGame{
    text-align: center;
}

#actualGame{
    display: flex;
    flex: 3;
}

#game-table{
    flex: 1;
}
