@media screen and (max-width:650px) {

    #nav-section, #content-section{
        display: flex;
        width: 100%;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        flex-direction:column;
        gap: 10px;
    }
    /*reponsive css for the form (nav section)*/
    #nav-section{
        align-items: stretch;
    }
    fieldset{
        flex: 1;
        width: auto;
        display: flex;
        justify-content: center;
    }
    input{
        align-items: center;
    }
    .form-border {
        flex-direction: row;
        flex:1;
        justify-content: space-between;
        align-items: stretch;
    }
    #difficulty{
        flex: 1;
    }
    #red {
        background-color: red; 
        
    }
    
    #green {
        background-color: green;
    }
    
    #blue{
        background-color: blue;
    }
    /*responsive css for main container*/
    #content-section{
        width:auto;
        height: auto;
        align-items: normal;
        justify-content: normal;
    }
    #game-status{
        width: auto;
    }
    #color-game{
        height: auto;
    }


    
}
