.buttons{
    
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
}
#timer-container{
    background-color: #324f4f;
    border-radius: 20px;
    width: 200px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
#game-status{
    border-radius: 20px;
    display:flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px 0px;
}
#submit-guess-description{
    display: flex;
    border:2px solid #ab8278;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    flex: 1;
}

#final-selected-color{
    border-radius: 10px;
    padding: 5px;
    color: #ffffff;
}
#guess-submittion-button{
    width:100%;
    height: 100%;
}

.cheats{
    background-color: white;
    position: relative;
    top: 13px;
    font-size: 10pt;
}


.tdBorder{
    border: 4px solid yellow;
}
#game-table{
    border: 1px dotted red;
}


#status-table > :only-child{
    font-family: sans-serif;
    border-collapse: collapse;
    
    text-align: center;
}

#status-table > :only-child th , #status-table > :only-child td{
    border: 1px solid #ddd;
    padding: 8px;
}
#status-table > :only-child button{
    border: none;
    background: transparent;
    font-family: sans-serif;
    cursor: pointer;
    background-color: #04aa6d;
    color: white;
    font-weight: bold;
    text-align: left;
}
#Player, #rowXcol, #clicks, #Level, #Cheat, #Success, #dur{
    background-color: #04aa6d;

}

#status-table > :only-child tr:nth-child(odd){
    background-color: #f2f2f2;
}

#status-table > :only-child tr:nth-child(even){
    background-color: #e0ffff;
}
